* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #121212;
    color: white;
    font-family: sans-serif;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

p {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    line-height: 1.6;
    text-align: justify;
    text-justify: inter-word;
}

.scene {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #333;
}

.content {
    z-index: 2;
    text-align: center;
    transform: translateY(-10vh);
}

.parallax-cat {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

#cat1 { 
    width: 300px;
    left: 10%; 
    top: 20%;
}

#cat2 { 
    width: 400px;
    right: 10%; 
    top: 20%;
}

.image-contour {
    filter: drop-shadow(3px 0 0 rgb(255, 255, 255)) 
            drop-shadow(-3px 0 0 rgb(255, 255, 255)) 
            drop-shadow(0 3px 0 rgb(255, 255, 255)) 
            drop-shadow(0 -3px 0 rgb(255, 255, 255));
  }

.size-cat {
    width: 40vw;    
    max-width: 800px;  
    min-width: 200px;   
}

.size-skulls {
    width: 30vw;    
    max-width: 500px;  
    min-width: 200px;
}

/* Kalimantan cat */

#MarbleСat-cat{
    right: 2%;
    top: 65vh;
}

#Katopuma-cat{
    left: 5%;
    top: 60vh; 
}

/* Kalimantan cat */

/* Panthers */

#Leopard-cat{
    right: 2%;
    top: 20vh;
}

#CaveLion-cat{
    right: 2%;
    top: 55vh;
}

#AmericanLion-cat{
    left: 2%;
    top: 30vh;
}

#Jaguar-cat{
    right: 2%;
    top: 10vh;
}

#Tiger-cat{
    width: 25vw;
    left: 5%;
    top: 55vh;
}

/* Panthers */

/* Big cats */

#SmokyLeopard-cat{
    left: 0%;
    top: 60vh;
}

/* Big cats */

/* Machairodontinae */

#Machairodontinae-cat {
    right: 0%;
    top: 55vh;
}

/* Machairodontinae */

/* Barbourofelidae */

#Barbourofelidae-cat {
    width: 35vw;    
    max-width: 800px;  
    min-width: 200px;
    right: 5%;
    top: 55vh;
}

/* Barbourofelidae */

/* Prionodon */

#Prionodon-cat1 {
    left: 5%;
    top: 60vh;
}

#Prionodon-cat2 {
    right: -5%;
    top: 5vh;
}

/* Prionodon */

/* Nandiniidae */

#Nandiniidae-cat {
    left: 1%;
    top: 60vh;
}

/* Nandiniidae */

/* Nimravidae */

#Nimravidae-cat {
    left: 5%; 
    top: 45vh; 
}

#Dinictis-cat {
    right: 0%; 
    top: 30vh;
}

#Dinaelurus-cat {
    left: 5%; 
    top: 15vh; 
}

#Nimravus-cat {
    right: 5%; 
    top: 15vh;
}

#Eusmilus-cat {
    right: 1%;
    top: 60vh;  
}

#Hoplophoneus-cat {
    right: 1%;
    top: 60vh;   
}

/* Nimravidae */

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background: #ffcc00;
    z-index: 999;
    pointer-events: none;
}

footer {
    display: flex;          
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    padding: 20px;          
    background-color: #1a1a1a; 
    width: 100%;
    box-sizing: border-box;
    min-height: 100px;
}

footer p {
    text-align: center;
    margin: 0;
}